
@font-face {
    font-family: 'TT Lakes';
    src: url('TT\ Lakes/TypeType - TTLakes-Medium.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', Arial, sans-serif;
}

.textcontent{
    text-align: left;
}

.textcontent--active{
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card_title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.card__body {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 32px;
}

.card__body-btn {
    height: 72px;
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.point_btns {
    display: none;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.point__btn {
    border-radius: 200px;
    width: 15px;
    height: 15px;
    margin-top: 16px;
}

.arrow_btn{
    display: flex;
    align-items: center;
}

.arrow_btn--disabled{
    display: none;
}

@media (min-width:768px) and (max-width: 1119px) {
    .card__body {
        grid-template-columns: repeat(3, 240px);
    }

    .textcontent{
        display:block;
    }
}

@media (min-width:320px) and (max-width: 767px) {
    .card__body {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        width: 100%;
        gap: 16px;
    }

    .card__body::-webkit-scrollbar {
        display: none;
    }

    .card__body-btn {
        width: 240px;
        flex-shrink: 0;
    }

    .point_btns {
        display: flex;
    }

    .point__btn {
        border: none;
        border-radius: 200px;
        width: 15px;
        height: 15px;
        /* display: inline-block; */
        margin-top: 16px;
        background-color: #DDDDDD;
    }

    .point__btn--active {
        background-color: #B5B6BC;
    }

    .textcontent--active,.textcontent{
        display: none;
    }

    .arrow_btn--disabled,.arrow_btn{
        display: none;
    }
  
}